<center>
    <h1><b>Prediction of Bank Marketing Responses</b></h1>
</center>

**Table of Contents:**
    

  1.&nbsp;[Problem Statement and Background Information](#section1)<br>
         
  2.&nbsp;[Data Loading](#section2)<br>
       
  3.&nbsp;[Data Analysis and  pre-processing](#section3)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.1&nbsp;[Output Variable Analysis](#section31)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.2&nbsp;[IQR and data filtering using IQR](#section32)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.3&nbsp;[Handling Categorical variable through Label Encoding](#section33)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.4&nbsp;[Train-Test Split](#section34)<br>
      
  4.&nbsp;[Data modeling](#section4)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.1&nbsp;[Building Logistic Regression Model](#section41)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2&nbsp;[Model Evaluation](#section42)<br>
      
      
  5.&nbsp;[Conclusions](#section5)<br>


<a id='section1'></a>
<h2><b> 1. Problem Statement and Background information</b></h2>

**Background Information:**
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the __product (bank term deposit)__ would be __('yes')__ or __('no')__ subscribed. 

**Problem Statement** 
The data is related with __direct marketing campaigns__ (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a __term deposit (variable y)__.



<h3>Source:</h3>

 - Dataset from : http://archive.ics.uci.edu/ml/datasets/Bank+Marketing#

<a id="section2"></a>
<h2><b>2. Data Loading</b></h2>

In [0]:
import pandas as pd
bank = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/bank.csv')
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,46,blue-collar,married,basic.9y,no,no,yes,telephone,may,tue,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,29,admin.,single,university.degree,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
2,50,management,married,university.degree,no,yes,yes,cellular,apr,fri,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
3,31,admin.,married,high.school,unknown,yes,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4,32,admin.,single,high.school,no,yes,no,cellular,jun,tue,...,1,999,0,nonexistent,-2.9,92.963,-40.8,1.262,5076.2,yes

<a id="section3"></a>
<h2><b>3. Data Analysis and Preprocessing</b></h2>

### Check the columns present in the dataset

In [0]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### Check the shape of Dataset

In [0]:
bank.shape

(10297, 21)

### Check the descriptive statistics of the dataset

In [0]:
bank.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000
mean,40.080606,261.388268,2.561134,963.609692,0.171506,0.077256,93.574206,-40.445780,3.621923,5166.850442
std,10.472190,263.722874,2.827084,184.098592,0.496992,1.576732,0.577502,4.622221,1.734170,72.492914
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,327.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,94.000000,3643.000000,56.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

### Check the info of the dataset

In [0]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10297 entries, 0 to 10296
Data columns (total 21 columns):
age               10297 non-null int64
job               10297 non-null object
marital           10297 non-null object
education         10297 non-null object
default           10297 non-null object
housing           10297 non-null object
loan              10297 non-null object
contact           10297 non-null object
month             10297 non-null object
day_of_week       10297 non-null object
duration          10297 non-null int64
campaign          10297 non-null int64
pdays             10297 non-null int64
previous          10297 non-null int64
poutcome          10297 non-null object
emp.var.rate      10297 non-null float64
cons.price.idx    10297 non-null float64
cons.conf.idx     10297 non-null float64
euribor3m         10297 non-null float64
nr.employed       10297 non-null float64
y                 10297 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 1.6+ MB

### Code to understand the below mentioned variables and print their 'unique' attributes.
``` ['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'campaign','poutcome', 'pdays', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m'] ```

In [0]:
def unique_values():
    columns=['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'campaign','poutcome', 'pdays', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m']
    for col in columns:
        print("Column Name: {0} , Unique values: {1}".format(col,len(bank[col].unique())))
        print(bank[col].unique())
unique_values()

Column Name: job , Unique values: 12
['blue-collar' 'admin.' 'management' 'technician' 'retired' 'services'
 'entrepreneur' 'self-employed' 'unemployed' 'student' 'housemaid'
 'unknown']
Column Name: marital , Unique values: 4
['married' 'single' 'divorced' 'unknown']
Column Name: education , Unique values: 8
['basic.9y' 'university.degree' 'high.school' 'professional.course'
 'basic.6y' 'basic.4y' 'unknown' 'illiterate']
Column Name: housing , Unique values: 3
['no' 'yes' 'unknown']
Column Name: loan , Unique values: 3
['yes' 'no' 'unknown']
Column Name: contact , Unique values: 2
['telephone' 'cellular']
Column Name: month , Unique values: 10
['may' 'apr' 'jun' 'aug' 'jul' 'oct' 'nov' 'dec' 'sep' 'mar']
Column Name: day_of_week , Unique values: 5
['tue' 'wed' 'fri' 'thu' 'mon']
Column Name: campaign , Unique values: 36
[ 3  2  1  4  5  6 14  7 21  9 12  8 17 10 20 33 29 15 23 11 18 13 19 39
 27 16 31 34 26 28 24 32 22 56 25 40]
Column Name: poutcome , Unique values: 3
['nonexistent' 'failure' 'success']
Column Name: pdays , Unique values: 22
[999   6   9   2  16   3   7   4  12  13   0   1   5  11  26  10   8  14
  15  20  18  17]
Column Name: emp.var.rate , Unique values: 9
[ 1.1 -1.8 -2.9  1.4 -3.4 -1.7 -0.1 -3.  -1.1]
Column Name: cons.price.idx , Unique values: 25
[93.994 92.893 93.075 92.963 93.444 94.465 93.749 93.918 92.431 94.215
 94.027 93.2   92.649 92.713 94.199 92.843 92.201 93.876 92.379 93.369
 93.798 94.601 94.055 94.767 92.469]
Column Name: cons.conf.idx , Unique values: 25
[-36.4 -46.2 -47.1 -40.8 -36.1 -41.8 -34.6 -42.7 -26.9 -40.3 -38.3 -42.
 -30.1 -33.  -37.5 -50.  -31.4 -40.  -29.8 -34.8 -40.4 -49.5 -39.8 -50.8
 -33.6]
Column Name: euribor3m , Unique values: 282
[4.857 1.281 1.405 4.86  1.262 4.963 4.959 1.313 4.967 0.663 1.299 4.966
 4.958 1.25  4.96  4.856 4.961 0.728 0.899 4.858 4.964 4.855 4.866 4.864
 1.365 1.354 4.962 4.968 1.244 0.904 1.264 4.021 1.453 1.334 4.076 4.957
 1.266 0.72  4.191 4.153 0.896 4.859 4.965 1.26  1.291 1.215 4.12  4.865
 1.41  0.715 1.445 1.286 0.714 1.344 0.893 1.327 0.879 1.757 1.27  4.97
 1.268 0.835 0.645 0.699 0.854 0.849 0.781 0.73  1.423 0.773 0.635 0.643
 1.415 1.483 0.88  0.881 4.947 1.799 0.89  0.877 0.797 0.884 0.724 0.84
 0.744 0.638 0.695 0.75  0.639 0.821 0.77  0.843 1.372 0.905 0.861 4.918
 0.803 0.682 0.737 0.873 0.869 4.955 0.838 1.259 0.819 0.802 0.652 0.829
 1.    0.987 0.9   0.732 0.851 0.729 1.05  0.642 0.719 1.556 0.883 0.731
 4.921 0.741 0.716 1.028 4.956 0.782 0.876 0.889 1.479 0.697 0.788 0.885
 1.52  0.898 0.713 0.692 0.878 0.74  0.761 0.822 0.701 0.739 0.809 1.029
 1.041 0.834 1.466 1.726 1.072 0.706 1.048 0.655 0.702 0.825 0.959 0.637
 1.392 0.707 0.977 4.912 1.085 1.435 0.722 1.206 1.235 1.498 0.688 1.406
 0.846 0.71  0.634 0.754 0.712 1.629 0.668 1.043 0.748 0.813 4.936 0.753
 0.733 4.733 1.538 0.636 1.614 0.903 0.65  1.703 1.687 0.886 0.723 0.742
 0.87  3.901 1.03  1.811 0.755 0.859 4.406 1.044 0.767 1.252 0.778 0.646
 0.708 1.4   0.768 0.653 1.531 1.032 0.762 0.651 0.743 1.025 0.654 1.008
 0.965 0.749 0.827 4.7   0.882 0.718 1.602 0.972 1.059 1.663 1.04  1.099
 0.685 1.031 0.644 0.683 0.891 0.659 0.735 1.64  1.037 1.046 4.592 0.717
 0.677 1.51  5.045 1.016 0.953 0.81  0.727 0.993 4.794 0.982 0.709 3.853
 0.672 1.039 1.778 0.649 4.827 0.793 4.663 0.79  1.548 0.64  1.65  0.69
 4.76  0.766 0.895 0.914 1.018 0.704 0.985 1.049 4.286 0.908 0.937 0.888
 0.684 0.7   4.245 0.771 1.224 4.474]

### Code to check the min and max value of age. Also check if there is any null value or not.

In [0]:
def age_analysis():
    # print the max age
    # print the min age
    # print the missing values if any
    print("Youngest member age:",bank['age'].min())
    print("Oldest member age:",bank['age'].max())
    print("Error values(Null):",bank['age'].isnull().sum())
age_analysis()

Youngest member age: 18
Oldest member age: 94
Error values(Null): 0

<a id="section31"> </a>

<h3><b>3.1 Output variable Analysis</b></h3>

### Count of Yes and No for the term deposit

In [0]:
bank.y.value_counts()

no     9137
yes    1160
Name: y, dtype: int64

<a id="section32"></a>
<h3><b>3.2 IQR and data filtering based on IQR</b><h3>

### Function to calculate the Inter quartile range for quantile values outside 25 to 75 range. And to do the outlier capping for lower level with min value and for upper level with 'q3=1.5*iqr' value.

In [0]:
def remove_outlier(df_in, col_name):
    Q1=df_in[col_name].quantile(0.25)
    Q3=df_in[col_name].quantile(0.75)
    # Calculating IQR as difference of Quantile 3 and quantile 1
    IQR=Q3-Q1
    min_col=df_in.min()
    max_col=df_in.max()
    lower_bound=df_in[col_name].min()
    upper_bound=Q3 + 1.5*IQR
    print('Column',col_name,'IQR lower bound and upper bound are', lower_bound, 'and', upper_bound, 'respectively')
    df_out=df_in[(df_in[col_name]>lower_bound) & (df_in[col_name]<upper_bound)]
    return df_out

### Using the above created function , remove the outlier from 'age' variables:

In [0]:
def age_outlier(bank):
    # your code to remove the outlier from age
    col_name='age'
    df=remove_outlier(bank,col_name)
    return df
    
bank = age_outlier(bank)

Column age IQR lower bound and upper bound are 18 and 69.5 respectively

In [0]:
print(bank)

       age            job   marital            education  default  housing  \
0       46    blue-collar   married             basic.9y       no       no
1       29         admin.    single    university.degree       no       no
2       50     management   married    university.degree       no      yes
3       31         admin.   married          high.school  unknown      yes
4       32         admin.    single          high.school       no      yes
5       33         admin.    single    university.degree       no      yes
6       51     management   married    university.degree       no      yes
7       40    blue-collar   married             basic.9y       no       no
8       34    blue-collar   married  professional.course  unknown       no
9       35         admin.    single          high.school       no       no
10      55         admin.   married          high.school       no  unknown
11      34     technician   married  professional.course       no      yes
12      31    blue-collar   married             basic.9y       no      yes
13      29     technician    single          high.school       no       no
14      54    blue-collar   married             basic.9y  unknown       no
15      41    blue-collar   married             basic.6y       no      yes
16      52        retired   married             basic.4y       no       no
17      36       services    single             basic.9y       no      yes
18      53    blue-collar   married             basic.4y       no       no
21      24         admin.    single          high.school       no      yes
22      52     technician   married          high.school       no      yes
23      55         admin.   married          high.school       no       no
24      29         admin.    single    university.degree       no      yes
25      52    blue-collar   married             basic.9y       no      yes
26      51       services   married             basic.6y       no      yes
27      47    blue-collar   married  professional.course  unknown      yes
28      48    blue-collar   married  professional.course       no      yes
29      35     technician   married  professional.course       no       no
30      49   entrepreneur   married    university.degree       no      yes
31      34         admin.    single    university.degree       no       no
...    ...            ...       ...                  ...      ...      ...
10267   32     technician    single  professional.course       no      yes
10268   54    blue-collar   married             basic.9y       no      yes
10269   34        unknown  divorced             basic.4y       no       no
10270   52     unemployed   married             basic.4y       no       no
10271   41     unemployed  divorced  professional.course       no  unknown
10272   31     technician    single  professional.course       no       no
10273   39    blue-collar  divorced              unknown       no      yes
10274   33     technician    single          high.school       no      yes
10275   38         admin.   married    university.degree       no      yes
10276   43  self-employed   married          high.school  unknown       no
10277   34     technician   married  professional.course       no       no
10278   58      housemaid  divorced             basic.4y       no      yes
10279   32    blue-collar   married             basic.9y       no       no
10280   37         admin.   married          high.school       no      yes
10281   37       services   married             basic.9y       no       no
10282   34         admin.   married    university.degree       no      yes
10283   32     technician   married    university.degree       no      yes
10284   57         admin.    single             basic.9y       no      yes
10285   34         admin.   married  professional.course       no      yes
10286   24    blue-collar    single             basic.9y       no      yes
10287   41    blue-collar   married             basic.4y  unknown       no
10288   32     technician   married    university.degree       no      yes
10289   36     technician   married  professional.course       no      yes
10290   43     unemployed   married    university.degree  unknown  unknown
10291   58     technician   married          high.school       no       no
10292   38         admin.   married    university.degree       no       no
10293   34  self-employed   married    university.degree       no       no
10294   52    blue-collar   married  professional.course  unknown      yes
10295   35     technician   married    university.degree       no      yes
10296   31         admin.    single    university.degree       no       no

          loan    contact month day_of_week ...   campaign  pdays  previous  \
0          yes  telephone   may         tue ...          3    999         0
1           no   cellular   may         wed ...          2    999         0
2          yes   cellular   apr         fri ...          1    999         0
3           no  telephone   may         thu ...          2    999         0
4           no   cellular   jun         tue ...          1    999         0
5          yes   cellular   aug         mon ...          4    999         0
6           no  telephone   may         fri ...          1    999         0
7           no  telephone   jun         fri ...          1    999         0
8           no   cellular   may         wed ...          2    999         1
9           no   cellular   may         fri ...          5    999         0
10     unknown  telephone   jun         fri ...          1    999         0
11          no   cellular   apr         fri ...          2      6         2
12          no   cellular   may         mon ...          1    999         1
13          no   cellular   aug         tue ...          1    999         0
14          no   cellular   jul         thu ...          2    999         0
15          no   cellular   may         fri ...          1    999         0
16          no   cellular   jul         mon ...          1    999         0
17         yes  telephone   may         tue ...          1    999         0
18         yes  telephone   jun         mon ...          2    999         0
21          no  telephone   may         mon ...          6    999         0
22          no   cellular   aug         wed ...         14    999         0
23          no  telephone   may         thu ...          1    999         0
24          no  telephone   jun         wed ...          2    999         0
25          no  telephone   jun         thu ...          2    999         0
26          no  telephone   may         thu ...          3    999         0
27          no  telephone   may         wed ...          1    999         0
28         yes  telephone   may         tue ...          1    999         0
29         yes   cellular   jul         thu ...          2    999         0
30          no   cellular   apr         mon ...          1    999         0
31          no  telephone   jun         wed ...          1    999         0
...        ...        ...   ...         ... ...        ...    ...       ...
10267      yes   cellular   jun         mon ...          1    999         0
10268       no   cellular   jul         thu ...          2    999         0
10269       no   cellular   nov         wed ...          1    999         0
10270       no   cellular   aug         tue ...          3    999         0
10271  unknown   cellular   aug         tue ...          3    999         0
10272       no   cellular   jul         thu ...          5    999         0
10273       no   cellular   may         thu ...          1    999         0
10274       no   cellular   aug         mon ...          1    999         0
10275       no  telephone   may         thu ...          1    999         0
10276       no   cellular   apr         wed ...          1    999         0
10277       no   cellular   aug         wed ...          2    999         0
10278      yes   cellular   sep         wed ...          1    999         0
10279       no   cellular   may         thu ...          4    999         0
10280       no   cellular   jul         thu ...          2    999         0
10281       no   cellular   jul         fri ...          2    999         0
10282       no   cellular   aug         fri ...          1    999         0
10283       no  telephone   may         fri ...          5    999         0
10284       no   cellular   jul         wed ...          3    999         0
10285      yes   cellular   sep         tue ...          1    999         1
10286       no   cellular   jul         wed ...          1    999         0
10287       no   cellular   apr         fri ...          2    999         0
10288       no   cellular   jul         thu ...          7    999         0
10289      yes   cellular   apr         thu ...          2      2         2
10290  unknown  telephone   may         tue ...          2    999         0
10291       no  telephone   jun         thu ...          3    999         0
10292       no   cellular   nov         thu ...          1      7         4
10293       no   cellular   oct         wed ...          1      5         3
10294       no   cellular   nov         wed ...          2    999         1
10295       no  telephone   may         thu ...          3    999         0
10296       no   cellular   apr         mon ...          6    999         0

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent         -1.8          92.893          -46.2      1.281
2      nonexistent         -1.8          93.075          -47.1      1.405
3      nonexistent          1.1          93.994          -36.4      4.860
4      nonexistent         -2.9          92.963          -40.8      1.262
5      nonexistent          1.4          93.444          -36.1      4.963
6      nonexistent          1.1          93.994          -36.4      4.857
7      nonexistent          1.4          94.465          -41.8      4.959
8          failure         -1.8          92.893          -46.2      1.281
9      nonexistent         -1.8          92.893          -46.2      1.313
10     nonexistent          1.4          94.465          -41.8      4.967
11         success         -1.8          93.749          -34.6      0.663
12         failure         -1.8          92.893          -46.2      1.299
13     nonexistent          1.4          93.444          -36.1      4.966
14     nonexistent          1.4          93.918          -42.7      4.958
15     nonexistent         -1.8          92.893          -46.2      1.250
16     nonexistent          1.4          93.918          -42.7      4.960
17     nonexistent          1.1          93.994          -36.4      4.856
18     nonexistent          1.4          94.465          -41.8      4.961
21     nonexistent          1.1          93.994          -36.4      4.858
22     nonexistent          1.4          93.444          -36.1      4.964
23     nonexistent          1.1          93.994          -36.4      4.855
24     nonexistent          1.4          94.465          -41.8      4.959
25     nonexistent          1.4          94.465          -41.8      4.866
26     nonexistent          1.1          93.994          -36.4      4.860
27     nonexistent          1.1          93.994          -36.4      4.856
28     nonexistent          1.1          93.994          -36.4      4.857
29     nonexistent          1.4          93.918          -42.7      4.958
30     nonexistent         -1.8          93.075          -47.1      1.405
31     nonexistent          1.4          94.465          -41.8      4.864
...            ...          ...             ...            ...        ...
10267  nonexistent         -2.9          92.963          -40.8      1.215
10268  nonexistent          1.4          93.918          -42.7      4.968
10269  nonexistent         -0.1          93.200          -42.0      4.120
10270  nonexistent          1.4          93.444          -36.1      4.963
10271  nonexistent          1.4          93.444          -36.1      4.965
10272  nonexistent          1.4          93.918          -42.7      4.963
10273  nonexistent         -1.8          92.893          -46.2      1.327
10274  nonexistent          1.4          93.444          -36.1      4.965
10275  nonexistent          1.1          93.994          -36.4      4.860
10276  nonexistent         -1.8          93.075          -47.1      1.498
10277  nonexistent          1.4          93.444          -36.1      4.965
10278  nonexistent         -3.4          92.379          -29.8      0.781
10279  nonexistent         -1.8          92.893          -46.2      1.327
10280  nonexistent         -1.7          94.215          -40.3      0.810
10281  nonexistent          1.4          93.918          -42.7      4.963
10282  nonexistent          1.4          93.444          -36.1      4.966
10283  nonexistent          1.1          93.994          -36.4      4.855
10284  nonexistent          1.4          93.918          -42.7      4.963
10285      failure         -1.1          94.199          -37.5      0.877
10286  nonexistent          1.4          93.918          -42.7      4.963
10287  nonexistent         -1.8          93.075          -47.1      1.405
10288  nonexistent          1.4          93.918          -42.7      4.968
10289      success         -1.8          93.075          -47.1      1.365
10290  nonexistent          1.1          93.994          -36.4      4.857
10291  nonexistent          1.4          94.465          -41.8      4.961
10292      failure         -3.4          92.649          -30.1      0.714
10293      failure         -3.4          92.431          -26.9      0.740
10294      failure         -0.1          93.200          -42.0      4.120
10295  nonexistent          1.1          93.994          -36.4      4.855
10296  nonexistent         -1.8          93.075          -47.1      1.405

       nr.employed    y
0           5191.0   no
1           5099.1   no
2           5099.1   no
3           5191.0   no
4           5076.2  yes
5           5228.1   no
6           5191.0   no
7           5228.1   no
8           5099.1   no
9           5099.1   no
10          5228.1   no
11          5008.7   no
12          5099.1  yes
13          5228.1   no
14          5228.1   no
15          5099.1   no
16          5228.1   no
17          5191.0   no
18          5228.1   no
21          5191.0   no
22          5228.1   no
23          5191.0   no
24          5228.1   no
25          5228.1   no
26          5191.0   no
27          5191.0   no
28          5191.0   no
29          5228.1   no
30          5099.1   no
31          5228.1   no
...            ...  ...
10267       5076.2   no
10268       5228.1   no
10269       5195.8   no
10270       5228.1   no
10271       5228.1   no
10272       5228.1   no
10273       5099.1   no
10274       5228.1   no
10275       5191.0   no
10276       5099.1   no
10277       5228.1  yes
10278       5017.5   no
10279       5099.1   no
10280       4991.6   no
10281       5228.1   no
10282       5228.1   no
10283       5191.0   no
10284       5228.1   no
10285       4963.6  yes
10286       5228.1   no
10287       5099.1   no
10288       5228.1   no
10289       5099.1  yes
10290       5191.0   no
10291       5228.1   no
10292       5017.5  yes
10293       5017.5  yes
10294       5195.8   no
10295       5191.0   no
10296       5099.1   no

[10170 rows x 21 columns]

### Using the above created function , remove the outlier from 'campaign' variables:

In [0]:
def campaign_outlier(bank):
    col_name='campaign'
    df=remove_outlier(bank,col_name)
    return df

    
bank = campaign_outlier(bank)

Column campaign IQR lower bound and upper bound are 1 and 6.0 respectively

### Using the above created function , remove the outlier from 'duration' variables:

In [0]:
def duration_outlier(bank):
    col_name='duration'
    df=remove_outlier(bank,col_name)
    return df
    
bank = duration_outlier(bank)

Column duration IQR lower bound and upper bound are 0 and 684.0 respectively

### Dividing dataset into two, on the basis of categorical and numerical.

In [0]:
bank_cat=bank[['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y']]

In [0]:
bank_cont = bank.drop(['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'], axis=1)

<a id="section33"></a>
<h3><b>3.3 Handling categorial variables through Label Encoding</b></h3>

###  Label encoded the below mentioned categorical variable to numerical values.
``` ['job', 'marital','default','education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'] ```

In [0]:
from sklearn.preprocessing import LabelEncoder
def label_encode(bank_cat):
    # code to return the value applying fit_transorm
    return bank_cat.apply(LabelEncoder().fit_transform)
bank_cat = label_encode(bank_cat)

### Combining the numerical and categorical dataset.

In [0]:
bank_final= pd.concat([bank_cont, bank_cat], axis = 1)

<a href="section34"></a>
<h3><b>3.4 Train-Test Split</b></h3>

### Extract independent column to prepare X

In [0]:
X = pd.DataFrame()
def feature_selection2(): #All columns except the predictor column in sales only few were selected
    # write your code to create a dataframe of dependent variables excluding 'y' variable
    X = bank_final.loc[:,bank.columns != 'y']
    return X
X = feature_selection2()

In [0]:
bank1=bank.columns.sort_values()
bank2=bank_final.columns.sort_values()

In [0]:
bank1==bank2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [0]:
bank_final

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,marital,default,education,loan,housing,contact,month,day_of_week,poutcome,y
0,46,329,3,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,2,2,0,1,6,3,1,0
1,29,132,2,999,0,-1.8,92.893,-46.2,1.281,5099.1,...,2,0,6,0,0,0,6,4,1,0
3,31,199,2,999,0,1.1,93.994,-36.4,4.860,5191.0,...,1,1,3,0,2,1,6,2,1,0
5,33,174,4,999,0,1.4,93.444,-36.1,4.963,5228.1,...,2,0,6,2,2,0,1,1,1,0
8,34,65,2,999,1,-1.8,92.893,-46.2,1.281,5099.1,...,1,1,5,0,0,0,6,4,0,0
9,35,282,5,999,0,-1.8,92.893,-46.2,1.313,5099.1,...,2,0,3,0,0,0,6,0,1,0
11,34,211,2,6,2,-1.8,93.749,-34.6,0.663,5008.7,...,1,0,5,0,2,0,0,0,2,0
14,54,225,2,999,0,1.4,93.918,-42.7,4.958,5228.1,...,1,1,2,0,0,0,3,2,1,0
18,53,340,2,999,0,1.4,94.465,-41.8,4.961,5228.1,...,1,0,0,2,0,1,4,1,1,0
25,52,112,2,999,0,1.4,94.465,-41.8,4.866,5228.1,...,1,0,2,0,2,1,4,2,1,0
26,51,176,3,999,0,1.1,93.994,-36.4,4.860,5191.0,...,1,0,1,0,2,1,6,2,1,0
29,35,207,2,999,0,1.4,93.918,-42.7,4.958,5228.1,...,1,0,5,2,0,0,3,2,1,0
34,33,409,2,999,0,-1.8,92.893,-46.2,1.281,5099.1,...,2,0,0,2,2,0,6,4,1,0
35,52,434,2,999,0,-1.8,92.893,-46.2,1.354,5099.1,...,1,0,6,2,0,0,6,1,1,0
37,32,396,3,999,0,1.4,93.918,-42.7,4.963,5228.1,...,1,0,2,2,2,0,3,0,1,0
44,27,64,2,999,0,1.4,94.465,-41.8,4.866,5228.1,...,2,0,6,0,0,1,4,2,1,0
46,45,126,2,999,1,-0.1,93.200,-42.0,4.021,5195.8,...,1,0,2,0,0,0,7,0,0,0
48,59,133,3,999,0,1.4,93.918,-42.7,4.963,5228.1,...,1,1,7,0,0,0,3,4,1,0
51,35,113,2,999,0,1.4,94.465,-41.8,4.864,5228.1,...,1,0,3,0,0,1,4,4,1,0
55,59,251,5,999,0,1.4,93.918,-42.7,4.960,5228.1,...,1,1,6,0,0,0,3,1,1,0
56,39,90,3,999,0,-0.1,93.200,-42.0,4.076,5195.8,...,1,0,6,2,2,0,7,2,1,0
57,58,275,4,999,0,1.4,93.918,-42.7,4.961,5228.1,...,1,0,6,0,2,0,3,3,1,0
59,39,99,5,999,0,1.4,93.918,-42.7,4.957,5228.1,...,1,0,2,2,2,1,3,0,1,0
61,37,574,5,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,1,1,2,0,1,6,0,1,0
62,47,374,2,16,1,-1.7,94.027,-38.3,0.904,4991.6,...,1,0,3,0,0,0,1,2,2,1
63,29,92,3,999,0,1.1,93.994,-36.4,4.857,5191.0,...,2,0,7,0,0,1,6,0,1,0
66,52,291,3,999,0,1.4,94.465,-41.8,4.961,5228.1,...,1,1,2,0,0,1,4,1,1,0
68,35,541,2,999,0,1.1,93.994,-36.4,4.857,5191.0,...,2,0,3,0,2,1,6,0,1,0
71,46,76,3,999,0,-0.1,93.200,-42.0,4.191,5195.8,...,1,1,3,0,0,0,7,1,1,0
77,32,86,3,999,0,-0.1,93.200,-42.0,4.021,5195.8,...,2,0,5,0,2,0,7,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10234,31,406,2,999,0,1.4,94.465,-41.8,4.864,5228.1,...,1,0,1,0,2,1,4,4,1,0
10236,46,279,4,999,0,1.4,93.918,-42.7,4.962,5228.1,...,2,0,7,0,2,1,3,0,1,1
10241,59,133,2,999,0,1.4,94.465,-41.8,4.961,5228.1,...,1,0,1,0,2,1,4,3,1,0
10242,52,402,2,999,0,1.4,93.918,-42.7,4.958,5228.1,...,1,0,5,0,2,0,3,2,1,0
10247,58,483,2,999,0,-1.8,93.075,-47.1,1.405,5099.1,...,1,1,5,0,2,0,0,1,1,0
10249,38,121,4,999,0,-1.8,93.075,-47.1,1.405,5099.1,...,1,1,3,0,0,1,0,1,1,0
10250,39,433,3,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,3,0,2,1,6,0,1,0
10253,41,134,2,999,0,1.4,93.918,-42.7,4.963,5228.1,...,1,0,2,0,0,0,3,0,1,0
10254,34,295,3,999,0,1.4,93.918,-42.7,4.962,5228.1,...,1,0,3,0,2,0,3,1,1,0
10256,45,220,4,999,1,-0.1,93.200,-42.0,4.191,5195.8,...,0,1,2,0,0,0,7,1,0,0
10260,28,128,2,999,0,1.1,93.994,-36.4,4.859,5191.0,...,1,0,2,0,2,1,6,0,1,0
10262,56,162,3,999,0,-0.1,93.200,-42.0,4.076,5195.8,...,1,0,6,0,0,0,7,2,1,0
10264,48,349,2,999,0,1.4,94.465,-41.8,4.961,5228.1,...,1,1,0,0,0,1,4,1,1,0
10265,38,136,2,999,1,-0.1,93.200,-42.0,4.191,5195.8,...,0,0,6,0,0,0,7,1,0,0
10266,56,150,2,999,0,1.4,94.465,-41.8,4.866,5228.1,...,1,1,5,0,2,1,4,2,1,0
10268,54,150,2,999,0,1.4,93.918,-42.7,4.968,5228.1,...,1,0,2,0,2,0,3,2,1,0
10270,52,121,3,999,0,1.4,93.444,-36.1,4.963,5228.1,...,1,0,0,0,0,0,1,3,1,0
10271,41,271,3,999,0,1.4,93.444,-36.1,4.965,5228.1,...,0,0,5,1,1,0,1,3,1,0
10272,31,200,5,999,0,1.4,93.918,-42.7,4.963,5228.1,...,2,0,5,0,0,0,3,2,1,0
10279,32,228,4,999,0,-1.8,92.893,-46.2,1.327,5099.1,...,1,0,2,0,0,0,6,2,1,0
10280,37,230,2,999,0,-1.7,94.215,-40.3,0.810,4991.6,...,1,0,3,0,2,0,3,2,1,0
10281,37,126,2,999,0,1.4,93.918,-42.7,4.963,5228.1,...,1,0,2,0,0,0,3,0,1,0
10283,32,93,5,999,0,1.1,93.994,-36.4,4.855,5191.0,...,1,0,6,0,2,1,6,0,1,0
10284,57,158,3,999,0,1.4,93.918,-42.7,4.963,5228.1,...,2,0,2,0,2,0,3,4,1,0
10287,41,100,2,999,0,-1.8,93.075,-47.1,1.405,5099.1,...,1,1,0,0,0,0,0,0,1,0
10289,36,266,2,2,2,-1.8,93.075,-47.1,1.365,5099.1,...,1,0,5,2,2,0,0,2,2,1
10290,43,87,2,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,1,6,1,1,1,6,3,1,0
10291,58,246,3,999,0,1.4,94.465,-41.8,4.961,5228.1,...,1,0,3,0,0,1,4,2,1,0
10294,52,442,2,999,1,-0.1,93.200,-42.0,4.120,5195.8,...,1,1,5,0,2,0,7,4,0,0
10295,35,330,3,999,0,1.1,93.994,-36.4,4.855,5191.0,...,1,0,6,0,2,1,6,2,1,0

###  Extract dependent variable into a dataframe 'y' for model predcition

In [0]:
y = pd.DataFrame()
def target_variable():
    # write your code to create a dataframe which consists only of dependepent variable
    y=bank_final['y']
    return y
y = target_variable()

### Splitting X and y intro train and test dataset

In [0]:
X

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job,marital,default,education,loan,housing,contact,month,day_of_week,poutcome
0,46,329,3,999,0,1.1,93.994,-36.4,4.857,5191.0,1,1,0,2,2,0,1,6,3,1
1,29,132,2,999,0,-1.8,92.893,-46.2,1.281,5099.1,0,2,0,6,0,0,0,6,4,1
3,31,199,2,999,0,1.1,93.994,-36.4,4.860,5191.0,0,1,1,3,0,2,1,6,2,1
5,33,174,4,999,0,1.4,93.444,-36.1,4.963,5228.1,0,2,0,6,2,2,0,1,1,1
8,34,65,2,999,1,-1.8,92.893,-46.2,1.281,5099.1,1,1,1,5,0,0,0,6,4,0
9,35,282,5,999,0,-1.8,92.893,-46.2,1.313,5099.1,0,2,0,3,0,0,0,6,0,1
11,34,211,2,6,2,-1.8,93.749,-34.6,0.663,5008.7,9,1,0,5,0,2,0,0,0,2
14,54,225,2,999,0,1.4,93.918,-42.7,4.958,5228.1,1,1,1,2,0,0,0,3,2,1
18,53,340,2,999,0,1.4,94.465,-41.8,4.961,5228.1,1,1,0,0,2,0,1,4,1,1
25,52,112,2,999,0,1.4,94.465,-41.8,4.866,5228.1,1,1,0,2,0,2,1,4,2,1
26,51,176,3,999,0,1.1,93.994,-36.4,4.860,5191.0,7,1,0,1,0,2,1,6,2,1
29,35,207,2,999,0,1.4,93.918,-42.7,4.958,5228.1,9,1,0,5,2,0,0,3,2,1
34,33,409,2,999,0,-1.8,92.893,-46.2,1.281,5099.1,1,2,0,0,2,2,0,6,4,1
35,52,434,2,999,0,-1.8,92.893,-46.2,1.354,5099.1,0,1,0,6,2,0,0,6,1,1
37,32,396,3,999,0,1.4,93.918,-42.7,4.963,5228.1,1,1,0,2,2,2,0,3,0,1
44,27,64,2,999,0,1.4,94.465,-41.8,4.866,5228.1,0,2,0,6,0,0,1,4,2,1
46,45,126,2,999,1,-0.1,93.200,-42.0,4.021,5195.8,1,1,0,2,0,0,0,7,0,0
48,59,133,3,999,0,1.4,93.918,-42.7,4.963,5228.1,5,1,1,7,0,0,0,3,4,1
51,35,113,2,999,0,1.4,94.465,-41.8,4.864,5228.1,0,1,0,3,0,0,1,4,4,1
55,59,251,5,999,0,1.4,93.918,-42.7,4.960,5228.1,2,1,1,6,0,0,0,3,1,1
56,39,90,3,999,0,-0.1,93.200,-42.0,4.076,5195.8,4,1,0,6,2,2,0,7,2,1
57,58,275,4,999,0,1.4,93.918,-42.7,4.961,5228.1,0,1,0,6,0,2,0,3,3,1
59,39,99,5,999,0,1.4,93.918,-42.7,4.957,5228.1,1,1,0,2,2,2,1,3,0,1
61,37,574,5,999,0,1.1,93.994,-36.4,4.857,5191.0,1,1,1,1,2,0,1,6,0,1
62,47,374,2,16,1,-1.7,94.027,-38.3,0.904,4991.6,0,1,0,3,0,0,0,1,2,2
63,29,92,3,999,0,1.1,93.994,-36.4,4.857,5191.0,1,2,0,7,0,0,1,6,0,1
66,52,291,3,999,0,1.4,94.465,-41.8,4.961,5228.1,2,1,1,2,0,0,1,4,1,1
68,35,541,2,999,0,1.1,93.994,-36.4,4.857,5191.0,0,2,0,3,0,2,1,6,0,1
71,46,76,3,999,0,-0.1,93.200,-42.0,4.191,5195.8,0,1,1,3,0,0,0,7,1,1
77,32,86,3,999,0,-0.1,93.200,-42.0,4.021,5195.8,9,2,0,5,0,2,0,7,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10234,31,406,2,999,0,1.4,94.465,-41.8,4.864,5228.1,1,1,0,1,0,2,1,4,4,1
10236,46,279,4,999,0,1.4,93.918,-42.7,4.962,5228.1,8,2,0,7,0,2,1,3,0,1
10241,59,133,2,999,0,1.4,94.465,-41.8,4.961,5228.1,1,1,0,1,0,2,1,4,3,1
10242,52,402,2,999,0,1.4,93.918,-42.7,4.958,5228.1,9,1,0,5,0,2,0,3,2,1
10247,58,483,2,999,0,-1.8,93.075,-47.1,1.405,5099.1,9,1,1,5,0,2,0,0,1,1
10249,38,121,4,999,0,-1.8,93.075,-47.1,1.405,5099.1,0,1,1,3,0,0,1,0,1,1
10250,39,433,3,999,0,1.1,93.994,-36.4,4.857,5191.0,0,1,0,3,0,2,1,6,0,1
10253,41,134,2,999,0,1.4,93.918,-42.7,4.963,5228.1,6,1,0,2,0,0,0,3,0,1
10254,34,295,3,999,0,1.4,93.918,-42.7,4.962,5228.1,0,1,0,3,0,2,0,3,1,1
10256,45,220,4,999,1,-0.1,93.200,-42.0,4.191,5195.8,1,0,1,2,0,0,0,7,1,0
10260,28,128,2,999,0,1.1,93.994,-36.4,4.859,5191.0,1,1,0,2,0,2,1,6,0,1
10262,56,162,3,999,0,-0.1,93.200,-42.0,4.076,5195.8,9,1,0,6,0,0,0,7,2,1
10264,48,349,2,999,0,1.4,94.465,-41.8,4.961,5228.1,1,1,1,0,0,0,1,4,1,1
10265,38,136,2,999,1,-0.1,93.200,-42.0,4.191,5195.8,4,0,0,6,0,0,0,7,1,0
10266,56,150,2,999,0,1.4,94.465,-41.8,4.866,5228.1,9,1,1,5,0,2,1,4,2,1
10268,54,150,2,999,0,1.4,93.918,-42.7,4.968,5228.1,1,1,0,2,0,2,0,3,2,1
10270,52,121,3,999,0,1.4,93.444,-36.1,4.963,5228.1,10,1,0,0,0,0,0,1,3,1
10271,41,271,3,999,0,1.4,93.444,-36.1,4.965,5228.1,10,0,0,5,1,1,0,1,3,1
10272,31,200,5,999,0,1.4,93.918,-42.7,4.963,5228.1,9,2,0,5,0,0,0,3,2,1
10279,32,228,4,999,0,-1.8,92.893,-46.2,1.327,5099.1,1,1,0,2,0,0,0,6,2,1
10280,37,230,2,999,0,-1.7,94.215,-40.3,0.810,4991.6,0,1,0,3,0,2,0,3,2,1
10281,37,126,2,999,0,1.4,93.918,-42.7,4.963,5228.1,7,1,0,2,0,0,0,3,0,1
10283,32,93,5,999,0,1.1,93.994,-36.4,4.855,5191.0,9,1,0,6,0,2,1,6,0,1
10284,57,158,3,999,0,1.4,93.918,-42.7,4.963,5228.1,0,2,0,2,0,2,0,3,4,1
10287,41,100,2,999,0,-1.8,93.075,-47.1,1.405,5099.1,1,1,1,0,0,0,0,0,0,1
10289,36,266,2,2,2,-1.8,93.075,-47.1,1.365,5099.1,9,1,0,5,2,2,0,0,2,2
10290,43,87,2,999,0,1.1,93.994,-36.4,4.857,5191.0,10,1,1,6,1,1,1,6,3,1
10291,58,246,3,999,0,1.4,94.465,-41.8,4.961,5228.1,9,1,0,3,0,0,1,4,2,1
10294,52,442,2,999,1,-0.1,93.200,-42.0,4.120,5195.8,1,1,1,5,0,2,0,7,4,0
10295,35,330,3,999,0,1.1,93.994,-36.4,4.855,5191.0,9,1,0,6,0,2,1,6,2,1

In [0]:
from sklearn.model_selection import train_test_split
def df_split():
    
    return train_test_split(X, y , test_size=0.25, random_state=1)# train test split using train_test_split of 75:25 and random state=1
X_train, X_test, y_train, y_test = df_split()

### Check the shape of X an y of train dataset.

In [0]:
def shape_check_train():
    print(X_train.shape)
    print(y_train.shape)
shape_check_train()

(3465, 20)
(3465,)

### Check the shape of X and y of test dataset.

In [0]:
def shape_check_test():
    print(X_test.shape)
    print(y_test.shape)
shape_check_test()

(1156, 20)
(1156,)

<a id="section4"></a>
<h3><b>4. Data Modeling</b></h3>
<a id="section41"></a>
<h2><b>4.1 Building Logistic Regression Model</b></h2>

### Instantitating Logistic Regression model using scikit-learn

In [0]:
from sklearn.linear_model import LogisticRegression
def model_initialization():
    # initiate the logistic regression model to new variable logreg
    logreg=LogisticRegression()
    return logreg
logreg = model_initialization()

### Fitting the logistic model on X_train and y_train

In [0]:
def model_fit():
    # fit the X_train and y_train
    logreg.fit(X_train,y_train)
model_fit()

### Using the model for prediction

In [0]:
y_pred_train = pd.DataFrame()
def logistic_prediction_train():
    # create the model prediction on X_train data using the above created dataframe
    y_pred_train=logreg.predict(X_train)
    return y_pred_train
y_pred_train = logistic_prediction_train()

In [0]:
y_pred_test = pd.DataFrame()
def logistic_prediction_test():
    # create the model prediction on X_test data using the above created dataframe
    y_pred_test=logreg.predict(X_test)
    return y_pred_test
y_pred_test = logistic_prediction_test()

<a id="section42"></a>

<h3><b>4.2 Model evaluation</b></h3>

### Model evaluation using accuracy classification score

In [0]:
from sklearn.metrics import accuracy_score
def logistic_accuracy_score():
    #Calculate and print the accuracy score
    print("The accuracy of test_prediction w.r.t actual_test is :",accuracy_score(y_test,y_pred_test))
    
logistic_accuracy_score()

The accuracy of test_prediction w.r.t actual_test is : 0.9403114186851211

### Model evaluation using Confusion matrix

In [0]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

def model_evaluation():
    # provide confusion matrix index name as['Actual No_Deposit','Actual Deposit']
    # provide confusion matrix index name as['Predicted No_Deposit','Predicted Deposit']
    confusion_matrix.index=['Actual No_Deposit','Actual Deposit']
    confusion_matrix.columns=['Predicted No_Deposit', 'Predicted Deposit']
    print(confusion_matrix)
model_evaluation()

                   Predicted No_Deposit  Predicted Deposit
Actual No_Deposit                  1062                 14
Actual Deposit                       55                 25

### Accuracy prediction setting the threshold = 0.75

In [0]:
import numpy as np
def setting_threshold1():
    preds1 = np.where(logreg.predict_proba(X_test)[:,1]> 0.75,1,0)
    print('Accuracy score for test data is:', accuracy_score(y_test,preds1))
setting_threshold1()

Accuracy score for test data is: 0.9403114186851211

###  Accuracy prediction setting the threshold = 0.25
https://datascience.stackexchange.com/questions/22762/understanding-predict-proba-from-multioutputclassifier

In [0]:
def setting_threshold2():
    preds2 = np.where(logreg.predict_proba(X_test)[:,1]> 0.25,1,0)
    print('Accuracy score for test data is:', accuracy_score(y_test,preds2))

setting_threshold2()

Accuracy score for test data is: 0.9359861591695502
[0 0 0 ... 0 0 0]

<a id="section5"></a>
<h3><b>5. Conslusions</b></h3>

Using logistic regression model, the Bank Marketing call responses are classified with 94% accuracy.